@model ProjetoDCPoint.Models.funcao

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>funcao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nivelAcesso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nivelAcesso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.codFuncao }) |
    @Html.ActionLink("Back to List", "Index")
</p>
